In [2]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('data/feature_selection.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   24 non-null     int64
 1   Feature                      24 non-null     object
 2   CORR_log_price               15 non-null     float64
 3   LASSO_Coefficient            24 non-null     float64
 4   LASSO_Importance (abs)       24 non-null     float64
 5   RIDGE_Coefficient            24 non-null     float64
 6   RIDGE_Importance (abs)       24 non-null     float64
 7   PERM_Importance              24 non-null     float64
 8   RF_Importance                24 non-null     float64
 9   MI_MI Score                  24 non-null     float64
 10  ANOVA_F-Value                24 non-null     float64
 11  ANOVA_p-Value                24 non-null     float64
 12  some of CORR_LC_RC_PI_RI_MS  24 non-null     float64
 13  Unnamed: 13                  24 non-null     bool
 14  p_value cheker               24 non-null     bool
dtypes: bool(2), float64(11), int64(1), object(1)
memory usage: 2.6+ KB

In [4]:
df = df[['Feature', 'CORR_log_price', 'LASSO_Coefficient',
       'LASSO_Importance (abs)', 'RIDGE_Coefficient', 'RIDGE_Importance (abs)',
       'PERM_Importance', 'RF_Importance', 'MI_MI Score', 'ANOVA_F-Value',
       'ANOVA_p-Value', 'some of CORR_LC_RC_PI_RI_MS', 'Unnamed: 13',
       'p_value cheker ']]

In [5]:
df.rename(columns={'some of CORR_LC_RC_PI_RI_MS': 'sum_of_CORR_LC_RC_PI_RI_MS',
                   'Unnamed: 13': 'Greater_then_0.1',
                   'p_value cheker ': 'p_value_checker'
                  }, inplace = True)

In [6]:
# Example filter: keep if sum column > 0.1 AND p_value checker is TRUE

selected = df[
    (df['sum_of_CORR_LC_RC_PI_RI_MS'] > 0.1) &
    (df['p_value_checker'] == True)
]

                    Feature  sum_of_CORR_LC_RC_PI_RI_MS  ANOVA_p-Value
6            additionalRoom                      0.2209         0.0000
7     additional_room_count                      0.5286         0.0000
8   adjusted_price_per_sqft                      2.3182         0.0000
10                  balcony                      0.6922         0.0000
11                 bathroom                      1.3653         0.0000
12                  bedRoom                      1.0855         0.0000
14        features_category                      0.1411         0.0041
15           features_score                      0.3621         0.0000
16                    floor                      0.3218         0.0000
17         furnish_category                      0.1109         0.0000
18            furnish_score                      0.4821         0.0000
19            property_name                      1.0754         0.0000
21                   sector                      0.6500         0.0000
22                  society                      0.7170         0.0000

In [11]:

selected[['Feature', 'sum_of_CORR_LC_RC_PI_RI_MS', 'ANOVA_p-Value']].reset_index(drop = True)

                    Feature  sum_of_CORR_LC_RC_PI_RI_MS  ANOVA_p-Value
0            additionalRoom                      0.2209         0.0000
1     additional_room_count                      0.5286         0.0000
2   adjusted_price_per_sqft                      2.3182         0.0000
3                   balcony                      0.6922         0.0000
4                  bathroom                      1.3653         0.0000
5                   bedRoom                      1.0855         0.0000
6         features_category                      0.1411         0.0041
7            features_score                      0.3621         0.0000
8                     floor                      0.3218         0.0000
9          furnish_category                      0.1109         0.0000
10            furnish_score                      0.4821         0.0000
11            property_name                      1.0754         0.0000
12                   sector                      0.6500         0.0000
13                  society                      0.7170         0.0000

In [ ]:
['additional_room_count','adjusted_price_per_sqft','balcony','bathroom','bedRoom','features_score','floor','furnish_score','sector','society','property_name']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   24 non-null     int64
 1   Feature                      24 non-null     object
 2   CORR_log_price               15 non-null     float64
 3   LASSO_Coefficient            24 non-null     float64
 4   LASSO_Importance (abs)       24 non-null     float64
 5   RIDGE_Coefficient            24 non-null     float64
 6   RIDGE_Importance (abs)       24 non-null     float64
 7   PERM_Importance              24 non-null     float64
 8   RF_Importance                24 non-null     float64
 9   MI_MI Score                  24 non-null     float64
 10  ANOVA_F-Value                24 non-null     float64
 11  ANOVA_p-Value                24 non-null     float64
 12  some of CORR_LC_RC_PI_RI_MS  24 non-null     float64
 13  Unnamed: 13                  24 non-null     bool
 14  p_value cheker               24 non-null     bool
dtypes: bool(2), float64(11), int64(1), object(1)
memory usage: 2.6+ KB